{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">
        <header id="site-header" class="header" >
            {% include 'body-header.twig' %}
            {% block header %}{% endblock %}
        </header>


    <div id="content" class="container">
    {% if false %}
        <div class="row">
            <div class="content-well">
                <div class="row-fluid">
                    {% if title %}<h1>{{title}}</h1>{% endif %}
                    <div class="wrapper {{sidebar_class}}">
                    {% block content %}Sorry, no content{% endblock %}
                    </div>
                </div> <!-- class="row-fluid" -->
            </div> <!-- class="content-well"> -->
            {% if sidebar %}
            <div class="right-rail">
                {{sidebar}}
                {{dynamic_sidebar}}
            </div>
            {% endif %}
        </div> <!-- class="row"> -->
    {% endif %}
        {% include 'home.twig' %}
    </div>


        <footer id="site-footer">
            <div class="container">
            {% include 'footer.twig' %}
            </div>
        </footer>
        {{ function('wp_footer') }}
    </body>
</html>
