{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">
        <header class="header" >
            {% include 'body-header.twig' %}
            {% block header %}{% endblock %}
        </header>


        <section id="content" role="main" class="content-wrapper container-fluid">
            <div class="row-fluid">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                    {{dynamic_sidebar}}
                </aside>
            {% endif %}
            </div>
        </section>

        <footer id="site-footer">
            <div class="container-fluid">
            {% include 'footer.twig' %}
            </div>
        </footer>
        {{ function('wp_footer') }}
    </body>
</html>
