<script type="text/javascript" src="http://local.denverpost.com/common/dfm/dfm-core.js"></script>
<!-- Will have to replace with production-ready JS URL. -->
<script src="http://sandbox.digitalfirstmedia.com/btown/js/bartertown.min.js"></script>
<!-- Uncomment if you want NGPS-specific CSS on the page.
<script src="http://local.medianewsgroup.com/common/dfm/header.js"></script>
-->
<!--
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/otherinc.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://extras.denverpost.com/media/js/blogstheme/jquery-ui-personalized-1.5.2.packed.js"></script>
-->
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<div id="omniture" style="display:none;">
    <script language="JavaScript" type="text/javascript">
        var s_account = "{{domain}}";

        var isHome = {% if is_home %}true{% else %}false;{% endif %}

        var isCategory = {% if is_category %}true{% else %}false;{% endif %}

        var isSingle = {% if is_singular %}true{% else %}false;{% endif %}

        var isPage = {% if is_page %}true{% else %}false;{% endif %}

        var singleCategory = "{{single_cat_title}}"; //article site section
        var pgTitle = "{{post.title}}";
        var oChnm = "Blogs";
        var oRtnm = "Blogs / {{bloginfo('name')}}";
        var Pgnm = "";
        var oSp2nm = ""; //Prop2
        var oSp3nm = ""; //Prop3
        var oSp4nm = ""; //Prop4
        var oSp5nm = ""; //Prop5
        if (isHome) {
            oSp2nm = "Blogs / {{bloginfo('name')}} Home";
            Pgnm = "Blogs / {{bloginfo('name')}} Home";
        } else {
            if (isCategory) {
                if (singleCategory) {
                    Pgnm = "Blogs / {{bloginfo('name')}} " + singleCategory; //section name available
                    oSp2nm = singleCategory;
                } else {
                    Pgnm = "Blogs / {{bloginfo('name')}} cat undefined"; //cannot be defined
                    oSp2nm = "cat undefined";
                }
            } else {
                if (isSingle) {
                    if (isPage) {
                        Pgnm = "Blogs / {{bloginfo('name')}} " + pgTitle; //is a static page
                        oSp2nm = pgTitle;
                    } else {
                        Pgnm = "Blogs / {{bloginfo('name')}} Post: " + pgTitle; //is a post
                        oSp2nm = "Posts";
                        oSp5nm = pgTitle;
                    }
                }
            }
            if (singleCategory) {
                if (!isCategory) {
                        Pgnm = "Blogs / {{bloginfo('name')}} Topics: " + singleCategory;
                    oSp2nm = "Topics";
                    oSp3nm = singleCategory;
                }
            }
        }
        if (oSp2nm == '') {
            oSp2nm = "?";
        }
        if (oSp3nm == '') {
            oSp3nm = "?";
        }
        if (oSp5nm == '') {
            oSp5nm = "?";
        }
        if (Pgnm == '') {
            Pgnm = "d=g";
        }
        var oBrdcm2 = oChnm + "/" + oRtnm; //Prop2
        var oBrdcm3 = oChnm + "/" + oRtnm + "/" + oSp2nm; //Prop3
        var oBrdcm4 = oChnm + "/" + oRtnm + "/" + oSp2nm + "/" + oSp3nm; //Prop4
        var oBrdcm5 = oChnm + "/" + oRtnm + "/" + oSp2nm + "/" + oSp3nm + "/" + oSp5nm; //Prop5
    </script>
    <!-- SiteCatalyst code version: H.17. Copyright 1997-2005 Omniture, Inc. More info available at http://www.omniture.com -->
    <script language="JavaScript" type ="text/javascript" src="http://extras.mnginteractive.com/live/js/omniture/SiteCatalystCode_H_17.js"></script>
    <script language="JavaScript" type="text/javascript" src="http://extras.mnginteractive.com/live/js/omniture/OmnitureHelper.js"></script>
    <script language="JavaScript" type="text/javascript">
        s.pageName = Pgnm;
        s.channel = oChnm;
        s.prop1 = "D=g";
        s.prop2 = oBrdcm2;
        s.prop3 = oBrdcm3;
        s.prop4 = oBrdcm4;
        s.prop5 = oBrdcm5;
        s.prop9 = getCiQueryString("SOURCE");
        s.eVar2 = getCiQueryString("SOURCE");
        s.campaign = getCiQueryString("EADID") + getCiQueryString("CREF");
        s.events = "event1";
        s.eVar4 = s.pageName;
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t(); if (s_code) { document.write(s_code); }
    </script>
    <script language="JavaScript" type="text/javascript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) { document.write(unescape('%3C') + '\!-' + '-'); }
    </script>
    <noscript>
        <img src="http://denverpost.112.2O7.net/b/ss/denverpost/1/H.17--NS/0" height="1" width="1" border="0" alt="" />
    </noscript>
    <!-- End SiteCatalyst code version: H.17. -->
</div>
<header id="site-header">
    <div class="flag">
    <div class="container">
      <a class="menu-toggle">
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="sr-only">Menu</a>
      </a>
        <button class="back-toggle"><span class="glyphicon glyphicon-chevron-left"><span class="sr-only">Back</span></span></button>
        <div class="page-id">
                        <a class="branding sm"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="704.136px" height="71.593px" viewBox="0 0 704.136 71.593" enable-background="new 0 0 704.136 71.593" xml:space="preserve"><path d="M494.296 69.446c-0.773-0.092-4.961-0.533-8.648-6.533s-6.875-13.875-13-16.438c0 0 13.492-0.817 13.492-13.661 c0-12.801-16.246-12.895-18.475-12.895c-2.23 0-5.172 0.074-9.303 0.074c-3.406 0-15.09-0.129-15.09-0.129v1.109l1.859 0.3 c2.93 0.5 4.3 1.3 4.7 4.162c0.381 2.7 0.5 6.2 0.5 11.099v17.04c0 4.164-0.021 6.441-0.176 8.9 c-0.143 2.305-0.131 5.994-4.277 6.691l-2.615 0.376v1.111c0 0 9.064-0.148 12.469-0.148s12.955 0.1 13 0.148l0.008-1.108 l-2.711-0.262c-2.93-0.498-4.336-1.271-4.748-4.162c-0.381-2.668-0.461-6.141-0.461-11.008V47.05c0 0 3 1 5.9 4.8 c3.6 4.6 6.7 12.6 11.7 18.786c0 0 4.797-0.111 8.643-0.111c3.844 0 8.7 0.1 8.7 0.111v-1.201 C495.828 69.4 494.7 69.5 494.3 69.446z M464.369 45.783c-1.584 0-3.4-0.24-3.4-0.24s-0.123-3.646-0.123-7.553 c0-3.905 0-8.849 0-8.849l0.244-6.594c0 0 2.275-0.621 4.939-0.621c3.619 0 9.7 2.9 9.7 11.5 C475.697 46.2 466 45.8 464.4 45.783z"/><path d="M536.906 41.363c3.164-0.061 26.6 1 26.568-20.041c0-17.272-14.035-19.465-23.166-19.242 c-9.791 0.238-16.971 0.059-28.809-0.057v1l1.639 0.216c2.307 0.5 7.5 0.2 7.6 9.26s0.123 12.2 0.1 12.15v21.123 c0 4.495-0.199 12.123-0.199 12.123c-0.238 6.801-0.439 10.281-7.359 11.373l-1.869 0.222v1.133c0 0 8.746-0.221 15.537-0.221 s17.221 0.2 17.2 0.221V69.49l-3.753-0.528c-6.918-1.091-7.087-4.266-7.323-11.066c0 0-0.201-7.628-0.201-12.123v-4.47 C532.943 41.3 534.5 41.4 536.9 41.363z M532.943 24.649c0-5.11 0.08-19.644 0.08-19.644 c1.432-0.418 3.465-0.883 6.104-0.883c2.641 0 11.5 0.7 11.5 17.24s-9.254 17.254-11.643 17.5 c-2.389 0.239-5.992 0.418-5.992 0.418V24.649z"/><path d="M293.773 56.735c0 0-1.125 3.833-2.006 7.446c-0.881 3.611-1.498 6.538-1.498 6.538s-17.718-0.239-24.866-0.239 c-5.535 0-17.11 0.148-17.11 0.148v-1.111l2.531-0.402c4.147-0.697 4.218-4.36 4.362-6.665c0.153-2.471 0.176-4.748 0.176-8.912 v-17.04c0-4.866-0.08-8.431-0.461-11.099c-0.414-2.891-1.818-3.664-4.75-4.162l-1.858-0.263v-1.109c0 0 10.7 0.3 17.6 0.3 c6.923 0 20.886-0.267 20.886-0.267s1.326 3.9 2.3 6.512c0.967 2.6 2.1 5.3 2.1 5.293l-1.42 0.5 c0 0-2.937-4.319-5.155-6.535c-2.437-2.434-5.284-3.439-10.819-3.439c-3.775 0-7.698 0.811-7.698 0.8 c-0.148 3.254-0.284 10.141-0.284 14.305v5.879c8.392-0.209 10.271-0.375 12.391-2.529c2.186-2.223 3.038-7.197 3.038-7.197 l1.326-0.023c0 0-0.339 6.461-0.339 11.18s0.339 11.4 0.3 11.443l-1.326-0.023c0 0-0.78-4.711-3.284-7.404 c-2.691-2.895-5.142-2.748-12.145-2.863v5.959c0 0 0.1 7.4 0.3 11.019c0.357 5.9 4.7 5.5 9.5 5.5 s7.596-0.354 11.106-3.68c3.51-3.325 5.689-8.276 5.689-8.276L293.773 56.735z"/><path d="M180.213 3.156l2.113 0.298c6.919 1.1 7 4.7 7.2 11.497c0 0 0.1 5.2 0.1 9.698v21.123 c0 4.495-0.201 12.123-0.201 12.123c-0.236 6.801-0.219 10.274-7.139 11.364l-2.126 0.23v1.133c2 0 11.659-0.199 15.358-0.199 c4.7 0 5.9 0.3 15.7 0.299c22.601 0 36.425-11.225 36.425-33.826c0-22.299-14.671-34.873-40.425-34.873 c-4.6 0-9.676 0.199-13.676 0.199c-3.8 0-11.383-0.199-13.383-0.199V3.156z M214.083 68.263c-9.9 0-12.005-2.522-12.182-12.5 c0 0-0.146-5.495-0.146-9.99V24.649c0-5.11 0.081-19.812 0.081-19.812c1.4-0.299 3.446-0.508 5.846-0.508 c17.162 0 26 11.5 26 33.094C233.731 58.7 225.7 68.3 214.1 68.263z"/><path d="M612.953 35.008c-1.16-3.168-2.83-5.966-5.008-8.391c-2.178-2.424-4.83-4.356-7.959-5.798 c-3.129-1.438-6.662-2.16-10.604-2.16c-3.617 0-7.059 0.612-10.326 1.835c-3.268 1.226-6.119 2.979-8.553 5.3 c-2.434 2.281-4.369 5.066-5.805 8.354c-1.438 3.289-2.154 6.998-2.154 11.127c0 3.9 0.7 7.5 2 10.7 c1.367 3.2 3.2 6 5.6 8.355c2.363 2.3 5.1 4.1 8.3 5.399c3.152 1.3 6.5 1.9 10 1.9 c3.57 0 6.939-0.646 10.117-1.944c3.176-1.296 5.957-3.143 8.346-5.545c2.385-2.401 4.273-5.232 5.664-8.497 c1.393-3.266 2.088-6.817 2.088-10.661C614.691 41.5 614.1 38.2 613 35.008z M588.734 69.1 c-9.421 0-14.35-11.217-14.35-24.074s6.012-23.757 14.547-23.757c8.538 0 13.9 10.2 13.9 23.7 C602.837 57.2 597.9 69.1 588.7 69.067z"/><path d="M692.636 70.623c0 0-10.484-0.148-13.889-0.148c-3.406 0-14.322 0.148-14.322 0.148v-1.111l3.97-0.55 c4.629-0.793 4.632-4.532 4.776-6.837c0.154-2.471 0.176-4.429 0.176-8.593c0-2.201 0-15.188 0-17.04 c0-4.866 0.049-9.504-0.135-14.074l-7.699 0.38c-7.682 0.529-10.334 11.207-10.334 11.207l-1.48-0.289c0 0 0.615-3.354 1.199-7.084 c0.582-3.729 1.166-8.198 1.166-8.198s3.621 1.7 12.2 1.678c10.066 0 12.2 0 21.2 0s11.922-1.767 11.922-1.767 s0.447 3 1 6.1s1.781 8.8 1.8 8.803l-1.264 0.283c0 0-1.898-4.765-4.578-8.09c-2.682-3.325-5.51-2.627-8.488-2.775 c-2.977-0.148-5.885-0.154-5.885-0.154c-0.092 3.462-0.131 10.369-0.131 14.533c0 2.2 0 15.2 0 17 c0 4.9 0.1 7.6 0.4 10.171c0.322 2.9 1.8 4.2 5.2 4.811l3.279 0.45L692.636 70.623z"/><path d="M442.671 56.735c0 0-1.125 3.833-2.006 7.446c-0.881 3.611-1.498 6.538-1.498 6.538S421.451 70.5 414.3 70.5 c-5.533 0-17.109 0.148-17.109 0.148v-1.111l2.533-0.402c4.146-0.697 4.217-4.36 4.359-6.665c0.154-2.471 0.176-4.748 0.176-8.912 v-17.04c0-2.099-0.016-3.942-0.064-5.59c-0.07-4.869-0.443-6.958-1.303-8.102c-0.795-1.06-2.098-1.553-3.25-1.653 c-0.24-0.021-0.477-0.031-0.697-0.019c-2.248 0.124-3.973 2.402-5.34 4.979c-0.482 0.854-0.904 1.728-1.281 2.5 c0 0-12.939 30.129-14.557 33.531c-1.615 3.402-4.914 9.342-4.914 9.342h-1.551c0 0-3.734-8.789-5.777-13.553 c-2.041-4.764-8.252-19.558-10.502-24.683c-0.751-1.71-1.408-3.192-2.023-4.483c-0.583-1.479-3.217-7.234-6.75-7.387 c-1.941 0-3.084 1.05-3.755 2.582c-0.823 1.602-0.947 4.109-0.947 8.214l-0.37 38.404l-1.801 0.8 c-5.802-6.936-13.47-16.133-18.544-22.121c-7.72-9.11-16.585-19.229-16.585-19.229l0.184 28 c0.147 8.7 1.6 10.4 6.4 11.248l1.406 0.221v1.111c-1.406 0-6.224-0.148-8.961-0.148c-2.738 0-7.898 0.148-9.526 0.1 v-1.111l0.888-0.146c4.514-0.814 6.163-2.518 6.311-11.396l0.1-27.882c0.002-2.727-0.469-4.43-1.839-5.699 c-1.813-1.661-3.704-2.567-5.66-3.101l-1.036-0.223v-1.205c1.628 0.1 5.7 0.1 8.4 0.148c2.294 0 7.922-0.074 9.993-0.223 l27.384 32.888l-0.021-20.233c-0.148-8.732-1.629-10.361-6.438-11.248l-1.406-0.223v-1.109c0 0 10.5 0.2 18.1 0.2 c0.772 0 1.5 0 2.2 0.006c8.998 0 20.094-0.195 20.094-0.195v1.109l-1.861 0.262c-0.906 0.182-4.43 0.344-4.43 3.4 s5.15 15.5 6.4 18.572c1.25 3.1 5.8 14.2 5.8 14.189l9.359-22.318c0 0 2.746-6.229 2.746-9.767s-3.568-3.991-3.568-3.991 l-2.49-0.453l0.006-1.054c0 0 7.1 0.2 14.4 0.286l0 0c4.5 0.1 9.1 0.1 12.3 0.136c7.93 0 26.154-0.417 26.154-0.417 s1.326 3.9 2.3 6.512c0.967 2.6 2.1 5.3 2.1 5.293l-1.42 0.535c0 0-2.936-4.319-5.154-6.535 c-2.438-2.434-5.285-3.439-10.82-3.439c-3.775 0-7.699 0.811-7.699 0.811c-0.148 3.254-0.283 10.141-0.283 14.305v5.879 c8.393-0.209 10.271-0.375 12.391-2.529c2.186-2.223 3.039-7.197 3.039-7.197l1.326-0.023c0 0-0.34 6.461-0.34 11.2 s0.34 11.4 0.3 11.443l-1.326-0.023c0 0-0.781-4.711-3.285-7.404c-2.691-2.895-5.141-2.748-12.145-2.863v5.959 c0 0 0.1 7.4 0.3 11.019c0.359 5.9 4.7 5.5 9.5 5.452c4.816 0 7.596-0.354 11.105-3.68s5.689-8.276 5.689-8.276 L442.671 56.735z"/><path d="M52.782 70.623c0 0-10.429-0.221-17.22-0.221s-17.507 0.221-17.507 0.221V69.49l3.7-0.52 c7.099-1.298 7.26-4.274 7.497-11.075c0 0 0.201-7.628 0.201-12.123c0-10.139 0-16.397 0-21.123c0-5.11-0.077-18.813-0.077-18.813 s-1.821 0.045-5.994 0.045S13.286 6.1 9.7 9.739C6.708 12.9 2.7 21.1 1.3 23.835L0 23.444c0 0 1.354-5.54 2.7-12.27 S4.713 0 4.7 0s6.861 2.8 17.9 2.843c6.724 0 14.8 0 24.3 0C56.689 2.8 66 0 66 0s0.364 3.4 1.4 9.3 s1.659 8.8 1.7 8.793h-1.703c-2.043-4.401-4.778-7.907-8.604-10.127S46.901 5.9 45.4 5.86c-1.548 0-3.831-0.024-3.831-0.024 s-0.077 13.703-0.077 18.813c0 4.7 0 11 0 21.123c0 4.5 0.2 12.1 0.2 12.123c0.237 6.8 0.5 10 7.4 11.1 l3.7 0.52V70.623z"/><path d="M88.189 20.975l3.433 0.539c4.147 0.7 4.2 4.3 4.3 6.624c0.154 2.5 0.2 4.7 0.2 8.912v6.488H74.216V37.05 c0-4.164 0.022-6.441 0.176-8.912c0.144-2.305 0.14-5.773 4.303-6.624l3.433-0.539v-1.111c0 0-9.7 0.182-13.105 0.2 s-12.318-0.18-12.318-0.18v1.109l1.859 0.263c2.931 0.5 4.3 1.3 4.7 4.163c0.381 2.7 0.5 6.2 0.5 11.098v17.04 c0 4.164-0.022 6.441-0.176 8.912c-0.144 2.305-0.156 6.038-4.303 6.735l-2.59 0.332v1.111c0 0 9.064-0.148 12.469-0.148 s12.955 0.1 13 0.148l0.009-1.108l-2.71-0.262c-2.931-0.498-4.336-1.271-4.749-4.162c-0.381-2.668-0.461-6.141-0.461-11.008 v-7.676h21.885v7.676c0 4.867-0.08 8.34-0.461 11.008c-0.413 2.891-1.818 3.664-4.749 4.162l-2.71 0.262l0.009 1.1 c0 0 9.55-0.148 12.955-0.148s12.469 0.1 12.5 0.148v-1.137l-2.299-0.276c-4.32-0.761-4.451-4.461-4.594-6.766 c-0.154-2.471-0.176-4.748-0.176-8.912v-17.04c0-4.866 0.08-8.43 0.461-11.098c0.413-2.892 1.818-3.664 4.749-4.163l1.859-0.263 v-1.109c0 0-8.914 0.18-12.318 0.18s-13.105-0.182-13.105-0.182V20.975z"/><path d="M161.433 56.735c0 0-1.125 3.833-2.006 7.446c-0.881 3.611-1.498 6.537-1.498 6.5 c-14.757-0.063-14.757-0.238-24.867-0.238c-5.534 0-17.11 0.148-17.11 0.148v-1.106l2.359-0.367c4.533-0.883 4.39-4.4 4.534-6.705 c0.154-2.471 0.176-4.748 0.176-8.912v-17.04c0-4.866-0.08-8.431-0.461-11.099c-0.413-2.891-1.818-3.664-4.749-4.162l-1.859-0.263 v-1.109c0 0 10.7 0.3 17.6 0.259s20.885-0.266 20.885-0.266s1.327 3.9 2.3 6.511s2.104 5.3 2.1 5.293l-1.252 0.5 c0 0-3.104-4.313-5.322-6.529c-2.437-2.433-5.284-3.439-10.82-3.439c-3.774 0-7.698 0.81-7.698 0.8 c-0.148 3.254-0.284 10.141-0.284 14.305v5.879c8.392-0.209 10.272-0.375 12.391-2.529c2.185-2.223 3.038-7.197 3.038-7.197 l1.326-0.021c0 0-0.339 6.458-0.339 11.177s0.339 11.4 0.3 11.443l-1.326-0.023c0 0-0.78-4.711-3.285-7.404 c-2.691-2.895-5.141-2.748-12.144-2.863v5.959c0 0 0.1 7.4 0.3 11.019c0.358 5.9 4.7 5.5 9.5 5.5 s7.596-0.354 11.106-3.68s5.69-8.276 5.69-8.276L161.433 56.735z"/><path d="M634.976 68.984c-12.343 0-15.036-13.616-15.036-13.616h-1.371c0 0 0.3 11 0.3 15.205h1.126l2.13-2.351 c0 0 6.3 3.1 12.3 3.108c11.017 0 19.711-7.011 19.711-16.401c0-7.794-4.096-10.583-15.627-15.835 c-6.971-3.287-10.357-6.479-10.357-10.551c0-3.595 1.59-7.583 8.253-7.583c9.625 0 12.9 12.6 12.9 12.608h1.42 c0 0-0.002-3.108 0.066-6.464c0.057-2.765 0.38-7.492 0.38-7.492l-1.262-0.165l-2.151 2.722c0 0-5.085-3.226-11.049-3.226 c-11.204 0-18.369 6.688-18.369 14.475c0 6.7 3.4 10.8 14.7 16.328c8.216 4 10.9 6.2 10.9 11.2 C643.97 65.6 640.6 69 635 68.984z"/></svg><span class="sr-only">The Denver Post</span></a>
            <h4 class="section-name hidden-sm-down"><a href="/">&nbsp;{{section}}</a></h4>
                    </div>
        <!-- <div class="header-tools"> -->
            <form id="site-search" action="#" class="search-bar" role="search">
                <button class="search-toggle"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button>
                <div class="input-group">
                  <input type="text" name="s" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn primary" type="button"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button>
                  </span>
                </div><!-- /input-group -->
            </form> <!-- #site-search -->
        <!-- </div> --> <!-- .header-tools -->
        <!-- <ul class="top-bar-toggle list-inline">
            <li><a href="">Weather</a></li>
            <li><a href="">Traffic</a></li>
            <li><a href="">Markets</a></li>
        </ul> -->
    </div> <!-- .container -->
</div> <!-- .flag -->

{% if menu_main %}
<nav id="site-navigation" role="navigation" class="navbar">
    <a href="#content" class="sr-only">Skip to Content</a>
    <div class="container">
        <ul class="top-level">
{% for item in menu_main.get_items %}
            <li class="dropdown{% if item.children.0.title == 'bubble' %} bubble{% endif %}">
                {% if item.url == '#' %}<span class="dropdown-toggle">{{item.title}}{% if item.children %} <b class="caret"></b>{% endif %}</span>
                {% else %}<a href="{{item.url}}" class="dropdown-toggle">{{item.title}}{% if item.children %} <b class="caret"></b>{% endif %}</a>
                {% endif %}
{% if item.children %}
                <ul class="dropdown-menu">
{# We have two types of drop-downs: Single-column and bubble-with-ad-and-recent-stories. #}
{# If we're doing the bubble nav, the first item in the child nav will be named "bubble", #}
{# and if it has a link the link will be an RSS feed for us to ingest and publish. #}
{# No RSS feed == use the articles from the parent category. #}
{% if item.children.0.title != 'bubble' %}
{% for subitem in item.children %}
            <li><a href="{{subitem.url}}">{{subitem.title}}</a></li>
{% endfor %}
{% else %}
                    <li class="bubble-content">
  <ul class="pager">
    <li class="prev"><a href="#">&#8592; Close</a></li>
    <li class="next"><a href="#">More topics &#8594;</a></li>
  </ul>
  <div class="bubble-editorial-content">
    <div class="bubble-overflow">
      <div class="bubble-subtopics">
        <div class="visible-pane">
          <ul class="pane-container">
{% for subitem in item.children %}
{% if subitem.title != 'bubble' %}
            <li class="topic-pane"><a href="{{subitem.url}}">{{subitem.title}}</a></li>
{% endif %}
{% endfor %}
          </ul>
        </div>
      </div>
    {# We only publish the recent headlines in the bubble if the parent menu #}
    {# item is a category. #}
    {% if item.object == 'category' %}
      <div class="bubble-headlines">
        {% for post in TimberTerm(item.name).get_posts('numberposts=4') %}
            {% if loop.first %}
                {% if post.thumbnail.src %}
        <a href="{{post.guid}}"><img src="{{post.thumbnail.src}}" width="120" alt="" /></a>
                {% endif %}
        <h3><a href="{{post.guid}}">{{post.title}}</a></h3>
        <p>{{post.excerpt}}</p>
        <div class="link-list">
          <ul>
            {% else %}
            <li><a href="{{post.guid}}">{{post.title}}</a></li>
            {% endif %}
            {% if loop.last %}
          </ul>
        </div> <!-- .link-list -->
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>

    <div class="ad medium-rectangle visible-lg-up">
        <img src="http://placehold.it/300x250&amp;text=300x250+navad" alt="300x250 navad">
    </div>
{% endif %}
                    </li>
                </ul>
{% endif %}
            </li>
{% endfor %}
        </ul>
    </div>
</nav>
{% endif %}

{% if menu_hot %}
<nav id="hot-topics">
    <div class="container">
        <ul class="list-inline">
            <li>
                Hot Topics:
            </li>
{% for item in menu_hot.get_items %}
            <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                <a href="{{ item.get_path }}" title="{{ item.title }}">{{ item.title }}</a>
            </li>
{% endfor %}
                    </ul>
    </div> <!-- .container -->
</nav>
{% endif %}

