<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{language_attributes}}> <!--<![endif]-->
    <head>
    <meta charset="{{ bloginfo('charset') }}" />
    <title>{{wp_title}}</title>
    <meta name="description" content="{{ bloginfo('description') }}">
    <link rel="stylesheet" href="{{ stylesheet_uri }}" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ bloginfo('pingback_url') }}" />
	{{function('wp_head')}}

<script type="text/javascript" src='http://an.tacoda.net/an/12503/slf.js'></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/tacoda/DartInclude.js"></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/tacoda/AccipiterInclude.js"></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/otherinc.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!--YAHOO ADS --> <script type="text/javascript">
//General Information
    yld_mgr = {};
    yld_mgr.slots = {};
    yld_mgr.pub_id="21204022309";
    yld_mgr.site_name="www..com";
    yld_mgr.container_type="js";
    yld_mgr.request_type="ac";
    yld_mgr.clk_dest="_blank";
    yld_mgr.ad_output_encoding="utf-8";
    yld_mgr.max_count=3;
    yld_mgr.content_lang="en-US";
    yld_mgr.disable_content_send="0";
    yld_mgr.cstm_sctn_list=["section"];
    yld_mgr.content_topic_id_list=["20337001"];

    var sectionKeywords = ["",""];//Custom Content Categories - lower case, comma separated, max 10 categories, a-z, 0-9(category must start with a letter), and underscores are allowed
    var content_type_list = [""];
    var reporting_tag_list = [""];//This is the section name


//Ad slot configs

    yld_mgr.slots.adPos0={}
    yld_mgr.slots.adPos0.ad_size_list=["728x90"];
    yld_mgr.slots.adPos0.ad_delivery_mode="ipatf";
    yld_mgr.slots.adPos0.ad_format_list=["Standard Graphical","Rich Media"];
    yld_mgr.slots.adPos0.cstm_content_cat_list=sectionKeywords;
    yld_mgr.slots.adPos0.content_type_list=content_type_list;
    yld_mgr.slots.adPos0.reporting_tag_list=reporting_tag_list;

    yld_mgr.slots.adPos2={};
    yld_mgr.slots.adPos2.ad_size_list=["1x1"];
    yld_mgr.slots.adPos2.ad_delivery_mode="ipatf";
    yld_mgr.slots.adPos2.ad_format_list=["Standard Graphical","Rich Media"];
    yld_mgr.slots.adPos2.cstm_content_cat_list=sectionKeywords;
    yld_mgr.slots.adPos2.content_type_list=content_type_list;
    yld_mgr.slots.adPos2.reporting_tag_list=reporting_tag_list;

    yld_mgr.slots.adPos9={};
    yld_mgr.slots.adPos9.ad_size_list=["300x250"];
    yld_mgr.slots.adPos9.ad_delivery_mode="ipatf";
    yld_mgr.slots.adPos9.ad_format_list=["Standard Graphical","Rich Media"];
    yld_mgr.slots.adPos9.cstm_content_cat_list=sectionKeywords;
    yld_mgr.slots.adPos9.content_type_list=content_type_list;
    yld_mgr.slots.adPos9.reporting_tag_list=reporting_tag_list;

    yld_mgr.slots.adPos11={};
    yld_mgr.slots.adPos11.ad_size_list=["160x600"];
    yld_mgr.slots.adPos11.ad_delivery_mode="ipbtf";
    yld_mgr.slots.adPos11.ad_format_list=["Standard Graphical","Rich Media"];
    yld_mgr.slots.adPos11.cstm_content_cat_list=sectionKeywords;
    yld_mgr.slots.adPos11.content_type_list=content_type_list;
    yld_mgr.slots.adPos11.reporting_tag_list=reporting_tag_list;

    yld_mgr.slots.adPos14={};
    yld_mgr.slots.adPos14.ad_size_list=["728x90"];
    yld_mgr.slots.adPos14.ad_delivery_mode="ipbtf";
    yld_mgr.slots.adPos14.ad_format_list=["Standard Graphical","Rich Media"];
    yld_mgr.slots.adPos14.cstm_content_cat_list=sectionKeywords;
    yld_mgr.slots.adPos14.content_type_list=content_type_list;
    yld_mgr.slots.adPos14.reporting_tag_list=reporting_tag_list;


</script><script type="text/javascript" src="http://e.yieldmanager.net/script.js"></script>
