{% extends "base.twig" %}

{% block content %}


<h1 id="page-top" class="page-header">{{dfm.site_name}} web feeds</h1>
        <p class="lead">Click a link to get started subscribing</p>
        <p class="small"><a href="#faqs">Skip to FAQs</a></p>
        <section class="quick-links">
            <h3>Quicklinks</h3>
                <div class="row">

{% if (categories|length % 3) == 0 %}
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice(0, ((categories|length / 3))|round) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice(((categories|length / 3))|round, (categories|length / 3|round)) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice((((categories|length / 3)*2))|round,  (categories|length / 3|round)) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                {% endif %}



                {% if (categories|length % 3) == 1 %}
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice(0, ((categories|length / 3)+1)|round) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice(((categories|length / 3)+1)|round, (categories|length / 3|round)) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice((((categories|length / 3)*2))|round,  (categories|length / 3|round)) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                {% endif %}	



{% if (categories|length % 3) == 2 %}
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice(0, (categories|length / 3)|round) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice((categories|length / 3)|round, (categories|length / 3)|round) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                    <div class="col md-4 link-list">
                        <ul>
			                {% for cat in categories|slice((((categories|length / 3)*2)+1)|round,  (categories|length / 3|round)) %}
			                    <li><a name="{{cat.name}}-feeds" href="#{{cat.name}}-feeds">{{cat.name}} Feeds</a></li>
			                {% endfor %}
			            </ul>
                    </div>              
                {% endif %}





                </div>
        </section>





		<section class="full-feeds web-feeds">
			<div class="page-header">
				<h3>Full feed list</h3>
			</div>
			<ul>

{% for cat in categories %}
    <li class="subhed"><a name="{{cat.name}}-feeds" id="{{cat.name}}-feeds"></a>{{cat.name}} Feeds</li><p></p>
    <li><a href="{{cat.link}}/feed"><img src="http://extras.mnginteractive.com/live/media/site200/2007/0627/20070627__rss.gif" width="16" height="11" alt="" border="none" style="vertical-align: middle;"></a>  <a href="{{cat.link}}/feed">{{cat.name}}</a></li>
    {% if cat.children %}
        {% for child in cat.children %}
            <li><a href="{{child.link}}/feed"><img src="http://extras.mnginteractive.com/live/media/site200/2007/0627/20070627__rss.gif" width="16" height="11" alt="" border="none" style="vertical-align: middle;"></a>  <a href="{{child.link}}/feed" title="">{{child.name}}</a></li>
        {% endfor %}
    {% endif %}
{% endfor %}

			

			</ul>
		</section>
		<section class="faqs">
			<div class="page-header">
				<h3>FAQs</h3>
			</div>
			<h4 class="subhead">What's a web feed?</h4>
    		<p>Web feeds are useful for keeping up with multiple online information sources. Some common types of feeds are a site's blog posts, all our stories from a particular category ( from large categories, like Sports, to small categories, like our Books coverage). The feeds you subscribe let you know when there's new content. The feeds themselves usually consist of a collection of entries, each with a headline and a blurb and a link.</p>

			<h4 class="subhead">What's the point?</h4>
			<p>The cool thing about feeds is when they're used right they save you time. <strong>Web feeds allow you access to only the information you're interested in and none of the information you're not.</strong> Are you only interested in our movie coverage? Instead of surfing to our movie section each day to see if there's a new article, you can subscribe to <a href="http://feeds.denverpost.com/dp-entertainment-movies">the movie web feed</a>, which will let you know when there are new articles. This gets more useful the more feeds you subscribe to: instead of going to, say, fifteen different sites, sections or pages to see if there's anything you want to read, now you just go to one place.
			</p>
			<h4 class="subhead">What's a web feed reader?</h4>     
			<p>To take advantage of these feeds, you'll need a <strong>web feed reader</strong>, which is a piece of software that searches the web for feeds. You can customize these readers to just search for articles or sources (like a specific blog, for example, or all the News from the BBC) that you want, and ignore everything else. It's a way to filter through the huge amount of information online and retrieve the stuff that matters most to you.</p>
			<p><a href="http://www.denverpost.com/termsofuse#rss-terms">Read our RSS Terms and Conditions here</a>.</p>
		</section>
		
	</div>
{% endblock %}