<ul class="secondary-stories">
    <li class="col-lg-4">
        <h4><a href="{{secondary_story_1.permalink}}">{{secondary_story_1_heading}}</a></h4>
        <a href="{{secondary_story_1.permalink}}"><img src="{{secondary_story_1.thumbnail.src|resize(400,300)}}" alt="max 400x300 photo in this space" /></a>
        <h3><a href="{{secondary_story_1.permalink}}">{{secondary_story_1.title}}</a></h3>
    </li>
    <li class="col-lg-4">
       	<h4><a href="{{secondary_story_2.permalink}}">{{secondary_story_2_heading}}</a></h4>
        <a href="{{secondary_story_2.permalink}}"><img src="{{secondary_story_2.thumbnail.src|resize(400,300)}}" alt="max 400x300 photo in this space" /></a>
        <h3><a href="{{secondary_story_2.permalink}}">{{secondary_story_2.title}}</a></h3>
    </li>
    <li class="col-lg-4">
        <h4><a href="{{secondary_story_3.permalink}}">{{secondary_story_3_heading}}</a></h4>
        <a href="{{secondary_story_3.permalink}}"><img src="{{secondary_story_3.thumbnail.src|resize(400,300)}}" alt="max 400x300 photo in this space" /></a>
        <h3><a href="{{secondary_story_3.permalink}}">{{secondary_story_3.title}}</a></h3>
    </li>
</ul> <!-- .secondary-stories -->