<ul class="secondary-stories">
    {% for post in topic_stories %}
    <li class="col md-4">
        <h4><a href="{{post.permalink}}">{{post.category}}</a></h4>
        <a href="{{post.permalink}}"><img src="{{post.thumbnail.src|resize(400,300)}}" alt="max 400x300 photo in this space" /></a>
        <h3><a href="{{post.permalink}}">{{post.title}}</a></h3>
    </li>
    {% endfor %}
</ul> <!-- .secondary-stories -->