<div class="section-promo">
    {% for post in section_promos[count][:1] %}
    <h4 class="topic-header">{{post.category.title}}</h4>
    <a href="{{post.permalink}}"><img src="{{post.thumbnail.src|resize(640,480)}}" alt="{{post.title}}"></a>
    <h3><a href="{{post.permalink}}">{{post.title}}</a></h3>
    <p class="excerpt">{{post.post_excerpt}}</p>
    <div class="meta">
        <p class="timestamp">{{post.timeago}}</p>
        <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">{{post.comment_count}}</a></p>
    </div>
    {% endfor %}
    <div class="link-list">
        <h5>Also</h5>
        <ul>
            {% for post in section_promos[count][1:] %}
            <li><a href="{{post.permalink}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
    </div> <!-- .link-list -->
</div><!-- .section-promo -->