{% extends "base.twig" %}

{% block content %}
                    <article id="main-story" class="full-story post-{{post.ID}}{% if post.Markup %} has-supporting-content{% endif %} ">
                    <header id="article-top" class="article-header">
                        {% include "breadcrumb.twig" %}
                        <h1 class="title entry-title cleanprint-title article-h1">{{post.title}}</h1>

                        {% if post.thumbnail.src %}
                        <div id="main-media" class="single-img"> <!-- other class options here: flex-video, flex-video widescreen, img-gallery-->
                            <figure>
                                <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.caption }}" class="">
                                <figcaption>
                                    {{ post.thumbnail.caption }}
                                    <span class="photographer"></span>
                                </figcaption>
                            </figure>
                        </div>
                        {% endif %}

                    </header>


                    <section id="article-body" class="shorten">
                        <div class="the-article">
                            <div class="blog-author byline byline-bar">
                                <p class="author-name">By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a></p>
                                <p class="property-name">Source</p>
                                <div class="meta">
                                    <p class="timestamp">
                                        Published {{ post.display_date }}
                                    </p>
                                </div>
                            </div> <!-- .byline-bar -->
                            <div class="article-body body-copy">
                            {{post.content}}
                            </div>
<div id="author" class="media">
{% if post.author.user_url %}
  <a class="pull-left" href="{{post.author.path}}">
    <img class="media-object" src="{{post.author.user_url}}" alt="{{post.author}}" />
  </a>
{% endif %}
  <div class="media-body">
        <h4 class="media-heading">About the Author, {{post.author}}</h4>
        <p>{{post.author.description}}</p>
  </div>
    <div>
        <ul class="nav pills">
            <li><a href="{{post.author.path}}">More articles by {{post.author}}</a></li>
            <li><a href="{{post.author.path}}">Full bio</a></li>
            <li><a href="#article-top">Back to top</a></li>
        </ul>
    </div>
</div>
                        </div>
                        {# SIDEBAR #}
                        {% if post.Markup %}
                            <section class="supporting-content" role="complementary">
                                <ul class="share-tools sm">
                                    <li><span class="glyphicon glyphicon-comment"></span><a href="#comments">Comments</a></li>
                                    <li><span class="glypicon glyphicon-print"></span><a href="#" onclick="CleanPrintPrintHtml('{{url}}'); return false;" class="articleOptions">Print</a></li>
                                    <style>.at300b span{display:none;}</style>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=mngi"></script>
                                    <li><span class="glyphicon glyphicon-email"></span><a href="http://www.addthis.com/bookmark.php" class="addthis_button_email">Email</a></li>
                                </ul>
                                {% if post.Title %}<h3>{{post.Title}}</h3>{% endif %}
                                {{ post.Markup }}
                            </section>
                        {% endif %}
                        <div class="article-categories">
                            {% if post.categories %}<p>Published in: {% for item in post.categories %}<a href="/{{category_base}}/{{item.slug}}/" title="{{item}}">{{item}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
                            {% if post.tags %}<p>Tagged: {% for item in post.tags %}<a href="/{{category_base}}/{{item.slug}}/" title="{{item}}">{{item}}</a>{% endfor %}</p>{% endif %}
                        </div>

                </section>
            </section>

            <section class="comments">
                <script type="text/javascript"><!--
  adblade_cid="{{config.adblade}}";
  adblade_ad_width="600";
  adblade_ad_height="250";
  adblade_ad_host="web.adblade.com";
//--></script>
<script type="text/javascript" src="http://web.adblade.com/js/ads/show.js"></script>
                <div id="recommender"></div>
<script type="text/javascript">
var drJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://");            
document.write(unescape("%3Cscript src='" + drJsHost + "static.newstogram.com/rmv2/js/recommenderv2-h2.js' <http://static.newstogram.com/rmv2/js/recommenderv2-h2.js'>  type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{var _recommender = new _rec({apiKey: '{{config.newstogram}}',cssUrl: 'http://www.nhregister.com/css/dailyme_styles_h8.css',title: 'Recommended for You',width: '650',height: '275',truncate:'48',limit:'6',openLinksInNewWindow:'1'});_recommender.renderPersonalized();} catch(err) {};
</script>

                <div class="respond" id="comments">
                    <h3 class="h2">Comments</h3>
                        {{ comment_form }}
                    </div>
                    <div class="responses">
                    </div>

            </section>

        </article>


{% endblock %}
