{% extends "base.twig" %}

{% block content %}
        			<article id="main-story" class="full-story post-{{post.ID}}">
					<header id="article-top" class="article-header">
				                <ul class="breadcrumb block small hide-for-phone">
				                    <li><a href="/">Home</a></li>
				                    <li class="active">{{post.category}}</li>
				                </ul>

				<h1 class="title entry-title cleanprint-title article-h1">{{post.title}}</h1>

<!--
{{ post|print_r }}
{{ post.thumbnail|print_r }}
-->
{% if post.thumbnail.src %}
<div id="main-media" class="single-img"> <!-- other class options here: flex-video, flex-video widescreen, img-gallery-->
    <figure>
<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.caption }}" class="">
    <figcaption>
        {{ post.thumbnail.caption }}
        <span class="photographer"></span>
    </figcaption>
    </figure>
</div>
{% endif %}

{# <pre>{{ post|print_r }}</pre> #}
					</header>


                <section id="article-body" class="shorten">
			<div class="the-article">
				    <div class="blog-author byline byline-bar">
					    <p class="author-name">By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a></p>
						<p class="property-name">Source</p>
                    <div class="meta">
                        <p class="timestamp">
                            Published {{ post.display_date }}
				        </p>
                    </div>
					</div> <!-- .byline-bar -->
				    <div class="article-body body-copy">
                        {# SIDEBAR #}
                        {% if post.Markup %}
                            <div class="clear factbox span3 pull-right">
                                {% if post.Title %}<h3>{{post.Title}}</h3>{% endif %}
                                {{ post.Markup }}
                            </div> <!-- /sidebar -->
                        {% endif %}
					    {{post.content}}
				    </div>
                    <div class="article-categories">
                        {% if post.categories %}<p>Published in: {% for item in post.categories %}<a href="/{{category_base}}/{{item.slug}}/" title="{{item}}">{{item}}</a>{% endfor %}</p>{% endif %}
                        {% if post.tags %}<p>Tagged: {% for item in post.tags %}<a href="/{{category_base}}/{{item.slug}}/" title="{{item}}">{{item}}</a>{% endfor %}</p>{% endif %}
                    </div>
                </section>
			</section>

			<section id="supporting-content">
                <div class="story-links">
                    <ul>
                        <li><i class="icon-comment"></i><a href="#comments">Comments</a></li>
                        <li><i class="icon-print"></i><a href="#" onclick="CleanPrintPrintHtml('{{url}}'); return false;" class="articleOptions">Print</a></li>
                        <style>.at300b span{display:none;}</style>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=mngi"></script>
                        <li><i class="icon-email"></i><a href="http://www.addthis.com/bookmark.php" class="addthis_button_email">Email</a></li>
                    </ul>
                </div>
            </section>

			<section class="comments">
                <script type="text/javascript"><!--
  adblade_cid="{{config.adblade}}";
  adblade_ad_width="600";
  adblade_ad_height="250";
  adblade_ad_host="web.adblade.com";
//--></script>
<script type="text/javascript" src="http://web.adblade.com/js/ads/show.js"></script>
                <div id="recommender"></div>
<script type="text/javascript">
var drJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://");            
document.write(unescape("%3Cscript src='" + drJsHost + "static.newstogram.com/rmv2/js/recommenderv2-h2.js' <http://static.newstogram.com/rmv2/js/recommenderv2-h2.js'>  type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{var _recommender = new _rec({apiKey: '{{config.newstogram}}',cssUrl: 'http://www.nhregister.com/css/dailyme_styles_h8.css',title: 'Recommended for You',width: '650',height: '275',truncate:'48',limit:'6',openLinksInNewWindow:'1'});_recommender.renderPersonalized();} catch(err) {};
</script>

				<div class="respond">
					<h3 class="h2">Comments</h3>
						{{ comment_form }}
					</div>
					<div class="responses">

						{% for cmt in post.get_comments() %}
							{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}
					</div>

			</section>

		</article>


{% endblock %}
