		<li>
			<h5><a href="">{{post.0.category}}</a></h5>
			<h3><a href="{{post.0.link}}">{{post.0.post_title}}</a></h3>
			<div class="meta">
				<p class="timestamp">{{post.0.post_date|time_ago}}</p>
				<p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">{{post.0.comment_count}}</a></p>
			</div>
		</li>
