<div class="second-lead-story">
    <h3><a href="{{post.link}}">{{post.post_title}}</a></h3>
    <p class="excerpt">{{post.post_excerpt}}</p>
    <div class="meta">
        <p class="source">{{post.Publication}}<span class="divider">|</span><time datetime="2012-03-05T20:53Z" class="timestamp">3 hours ago</time></p>
        <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="{{post.link}}#comments">{{post.comment_count}}</a></p>
    </div>
</div>
