			<div class="share-zipper">
				<div class="drawer">
					<ul class="share-tools">
						<li><a class="fc-webicon facebook large" href="http://www.facebook.com/sharer.php?u={{post.permalink}}"><span class="sr-only">Facebook</span></a></li>
						<li><a class="fc-webicon twitter large" href="http://twitter.com/share?url={{post.permalink}}&text={{post.title}}&via={{twitter_short_name}}"><span class="sr-only">Twitter</span></a></li>
						<li><a class="fc-webicon googleplus large" href=""><span class="sr-only">Google Plus</span></a></li>
						<li><a class="fc-webicon mail large" href="mailto:?Subject={{post.title}}"><span class="sr-only">Email</span></a></li>
					</ul> <!-- .share-tools -->
				</div> <!-- .drawer -->
			<button class="share-toggle"><span class="glyphicon glyphicon-share-alt"><span class="sr-only">Share</span></span></button>
			</div> <!-- .share-zipper -->

